language: julia

os:
  - linux
  - osx

julia:
  - 1.0
  - 1.6
  - nightly

script:
  - julia --project --check-bounds=yes -e 'import Pkg; Pkg.build(); Pkg.test("SDtoolbox"; coverage=true)'

before_install:
  - julia -e 'import Pkg; Pkg.add("Conda"); import Conda; Conda.add_channel("cantera"); Conda.add("cantera")'
