language: julia

os:
  - linux

julia:
  - 1.0
  - 1.6
  - nightly

script:
  - julia --project --check-bounds=yes -e 'import Pkg; Pkg.build(); Pkg.test("SDtoolbox"; coverage=true)'

before_install:
  - julia --project --check-bounds=yes -e 'import Pkg; Pkg.add("PyCall"); ENV["PYTHON"]=""; Pkg.build("PyCall")'
