name: Run tests

on:
  push:
    paths: 
      - 'src/*'
      - 'test/*'
      - '.github/workflows/*'
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: ['^1.1', 'nightly']
        julia-arch: [x64, x86]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        exclude:
          - os: macOS-latest
            julia-arch: x86
    env:
      PYTHON: ""
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - uses: julia-actions/julia-buildpkg@v1
      - run: julia -e "import Pkg; Pkg.add(\"PyCall\")"
      - run: | # patch to enforce python 3.7 on x86 Windows due to cantera requirements
          if [[ $RUNNER_OS == 'Windows' && ${{ matrix.julia-arch }} == 'x86' ]] ; then 
             sed -i -e 's/Miniconda$(MINICONDA_VERSION)-latest-/Miniconda3-py37_4.10.3-'  C\:/Users/runneradmin/.julia/packages/Conda/*/src/Conda.jl
          fi
      - run: julia -e "import PyCall; PyCall.pyimport_conda(\"scipy\",\"scipy\"); PyCall.pyimport_conda(\"matplotlib\",\"matplotlib\")"
      - uses: julia-actions/julia-runtest@v1
